<div class="row top-buffer text-center">
  <h1>New employee</h1>
</div>

<%= render 'form' %>

<div class="row-fluid text-center">
  <div class="col-md-12">
    <%= link_to 'Back', employees_path %>
  </div>
</div>
