/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.top-buffer { margin-top:30px; };
.new-form { margin-bottom:15px; }
.index-border { border-style: solid; 
                margin-left: 60px;
                margin-right: 60px; 
                border-color: grey;}